<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
</head>
<body>
<h1>WELCOME TO TEXT ANALYZER.ENTER YOUR TEXT BELOW

</h1>    
<form action='/analyze' method="get">
    <textarea name='text' style='margin: 0px; width: 990px; height: 291px;'></textarea><br>
    <input type="checkbox" name='removepunc'>Remove punctuations <br>
    <input type="checkbox" name='fullcaps'>UPPER CASE <br>
    <input type="checkbox" name='newlineremover'>newl ine remover <br>
    <input type="checkbox" name='extraspaceremover'>extra space remover <br>
    
    <button type='submit'>Analyze Text</button>
</form>        
</body>
</html>